* {
  font-family: $font-proxima-nova;
}

h1 {
  font-weight: $fw-light !important;
}

h2 {
  font-weight: $fw-normal !important;
}

h3 {
  font-weight: $fw-normal !important;
}

h4 {
  font-weight: $fw-normal !important;
}

h5 {
  font-weight: $fw-semi-bold !important;
}

h6 {
  font-weight: $fw-semi-bold !important;
}
