<!-- Header Section -->
<header class="header container-fluid d-flex justify-content-between align-items-center p-2 border-bottom bg-light">
  <!-- Brand Logo and Name -->
  <a href="#" class="align-items-center text-decoration-none text-dark">
    <img [src]="imageurl" alt="MHE logo" class="me-2" style="width: 40px; height: 40px;" />
    <span class="fw-bold fs-5">{{ brandName }}</span>
  </a>

  <div class="header-right position-relative d-flex justify-content-between align-items-center">
    <select class="account-select form-select me-3" aria-label="Select a language" (change)="changeLanguage($event)">
      <option value="" disabled selected>Select Languages</option>
      <option value="english">English </option>
      <option value="catala">Català </option>
      <option value="italiano">Italiano </option>
      <option value="castellano">Español (Castellano) </option>
      <option value="arabic">عربي </option>

    </select>
    <select class="account-select form-select">
      <option value="" disabled selected>My Account</option>
      <option value="register">Register</option>
      <option value="login">Login</option>
    </select>

  </div>
</header>