@import '../../variables.scss';
.footer-links a {
  flex-shrink: 0;
}

.footer-region a {
  flex-shrink: 0;
}

// .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//   --bs-gutter-x: 1.5rem;
//   --bs-gutter-y: 0;
//   width: 100%;
//   padding-right: calc(var(--bs-gutter-x)* .5);
//   padding-left: calc(var(--bs-gutter-x)* .5);
//   margin-right: 0;
//   margin-left: 0;
// }

.text-decoration-none {
  text-decoration:underline !important;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;

.footer {
    background-color: #f1f1f1;
    padding: 20px 32px;
    font-size: 0.9rem;
    color: #4d4d4d;
    border-top: 1px solid #ddd;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    @media (min-width: $screen-sm) {
      flex-direction: row;
    }
  
    .footer-links {
      margin-bottom: 10px;
  
      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }
  
      a {
        color: #0056b3;
        font-size: 1rem;
        text-decoration: none;
        margin-right: 15px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .footer-region {
      text-align: center;
      display: flex ;
      a {
        margin: 5px 10px;
      }
  
      @media (min-width: $screen-sm) {
        text-align: right;
      }
    }
  }

  .footer-links, .footer-region {
    justify-content: center;
  }
}
}