<div class="row align-items-center">
  <!-- First Dropdown -->
  <div class="col-auto text-start">
    <p class="mb-1 fw-bold">Select Project</p>
    <div ngbDropdown class="d-inline-block">
      <button
        type="button"
        class="btns d-flex justify-content-between align-items-center"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <span class="text-start">Test123</span>
        <span class="dropdown-arrow ms-auto"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" #dropdownMenu1>
        <button
          ngbDropdownItem
          *ngFor="let item of dropdownList"
          #dropdownItem
          (click)="onItemSelect(item)"
          [appTrapFocus]="dropdownMenu1"
        >
          {{ item }}
        </button>
      </div>
    </div>
  </div>

  <!-- Spacer Column -->
  <div class="col"></div>

  <!-- Second Dropdown -->
  <div class="col-auto text-center">
    <div class="d-flex align-items-center">
      <div class="me-3 text-start">
        <p class="mb-1 fw-bold">Select Format</p>
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btns d-flex justify-content-between align-items-center"
            id="dropdownBasic2"
            ngbDropdownToggle
          >
            <span class="text-start">Please select</span>
            <span class="dropdown-arrow ms-auto"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2" #dropdownMenu2>
            <button
              ngbDropdownItem
              *ngFor="let item of dropdownList"
              (click)="onItemSelect(item)"
              [appTrapFocus]="dropdownMenu2"
            >
              {{ item }}
            </button>
          </div>
        </div>
      </div>

      <!-- Third Dropdown -->
      <div class="text-center">
        <p class="mb-1 fw-bold">{{ value }}</p>
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btns d-flex justify-content-between align-items-center"
            id="dropdownBasic3"
            ngbDropdownToggle
          >
            <span class="text-start">Arrange</span>
            <span class="dropdown-arrow ms-auto"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3" #dropdownMenu3>
            <button
              ngbDropdownItem
              *ngFor="let item of dropdownList"
              (click)="onItemSelect(item)"
              [appTrapFocus]="dropdownMenu3"
            >
              {{ item }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- breadcrumb component  -->
<!-- <app-breadcrumb/> -->
