.form-select,
.form-control,
.btn {
  border-radius: 0 !important;
  min-width: 50%;
}

.btn {
  max-width: 10%;
}
.search-icon {
  display: inline-block;
}

.search-text {
  display: inline-block;
  margin-left: 5px;
}

@media (min-width: 732px) {
  .btn {
    max-width: 100%;
    padding: auto;
  }
  .btn .search-text {
    display: none;
  }
}
