@import '../../variables.scss';

.form-select,
.form-control,
.btn {
  border-radius: 0 !important;
  min-width: 50%;
}

.btn {
  max-width: 10%;
}

.search-icon {
  display: inline-block;
}

.search-text {
  display: inline-block;
  margin-left: 5px;
}

@media (min-width: 732px) {
  .btn {
    max-width: 100%;
    padding: auto;
  }

  .btn .search-text {
    display: none;
  }
}

.searchbar {
  width: 84%;
  border-radius: 0;
  padding: 0px;
}

button {
  gap: 5px;
  border-radius: 0;
  background-color: $teal-blue;
  border: 1px solid $teal-blue;
}

button:hover {
  background-color: cadetblue;
}