.form-select,
.form-control,
.btn {
  border-radius: 0 !important;
}

.btn {
  min-width: 100%;
}
.search-icon {
  display: inline-block;
@import '../../variables.scss';

.search-product-container {
  padding: 30px;
}

.heading{
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.search-text {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 1250px) {
  .search-text {
    display: none;
  }
  .btn {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  h2, h6 {
    text-align: center;
  }

  .row.g-3 {
    gap: 1rem;
  }
  .btn {
    min-width: 100%;
  }

  .form-select, .form-control {
    margin-bottom: 0.5rem;
    
  }
}

@media (min-width: 320px) {
  .search-text {
    display: none;
  }
  .btn {
    min-width: 20%;
  }

  .form-select, .form-control {
    margin-bottom: 0.5rem;
    min-width: 80%
    
  }
}
button {
  gap: 5px;
  border-radius: 0;
  background-color: $teal-blue;
}

button:hover {
  background-color: cadetblue;
}
}