<div class="container-fluid">

  <!-- Header Row -->
  <div class="row align-items-center mb-2">
    <div class="col-auto">
      <h4 class="m-0">{{ 'SpecialCollection' | translate }}</h4>
    </div>
    <div class="col-auto ms-auto">
      <button class="btn btn-light mt-2" [routerLink]="['/']">
        {{ 'ExitAllCollections' | translate }}
      </button>
    </div>
  </div>


  <!-- Grouped Collections -->
  @for (group of groupedCollections;track group.category){
  <div>

    <!-- Category Header -->
    <h5 class="mt-4 light-secondary p-2 rounded bg-light">{{ group.category | translate }}</h5>

    <!-- Collections Row -->
    <ul class="row list-unstyled">
      @for(collection of group.collections; track collection.code){
        <li class="col-lg-3 col-md-6 col-sm-6 mb-4">
          <hec-image-card [collectionCode]="collection.code" [image]="collection.image " [name]="collection.name|translate"></hec-image-card>
        </li>
      }
    
    </ul>

  </div>
  }


</div>