
<div class="container-fluid  d-sm-flex justify-content-between px-0">
  
    <div class="row mt-1  py-2 d-inline-block ">
      <div class="d-flex align-items-center ">
        <h4 class="d-inline-block mb-0 fs-5">Test456</h4> 
        <a href="#" class="text-primary ml-2 text-decoration-none mb-0 mx-2 fs-" > Edit Project Details</a>
      </div>
      <div class="fs-5">Discipline Title: Business Math</div>
    </div>
  
    <div class="d-flex align-items-center">
      <button class="btn btn-outline-primary border-dark text-dark bg-transparent w-auto" >Format TOC <i class="bi bi-chevron-compact-right"></i></button>
    </div> 
  </div>
  <hr class="my-2" />
 
  