
<div class="container-fluid d-flex justify-content-between">
    <div class="row mt-1 ms-2 py-2">
      <!-- Left section: Test456 and Discipline Title -->
      <div class="d-flex align-items-center">
        <h4 class="d-inline-block mb-0">Test456</h4> 
        <a href="#" class="text-primary ms-2 text-decoration-none mb-0" >Edit Project Details</a>
      </div>
      <div class="fs-5">Discipline Title: Business Math</div>
    </div>
  
    <!-- Right section: Format TOC button centered -->
    <div class="d-flex align-items-center">
      <button class="btn btn-outline-primary" style="height:fit-content;">Format TOC <span>&gt;</span></button> <!-- Button with > sign -->
    </div>
  </div>
  <hr class="my-2 mx-4" />
  