<div class="text-center m-2 position-relative min-vh-100 object-fit-contain">
    <div>{{currentChapter.title}} ({{currentChapter.pageCount +"pp"}})</div>
    @if(isAnonymous){
    <div class="h-100">
        <hr />
        <div>To read this content, you'll need to sign in first.</div>
        <button (click)="handleSign()">Sign In / Register Now</button>
    </div>
    }
    @else{
    @if(pageViewLoading){
    <div class="d-flex justify-content-center align-items-center loader-parent">
        <div class=" hec-loader-content"></div>
    </div>
    }
    @if(isPreviousPage){
    <div class="">
        <div class="preview-parent d-flex align-items-center justify-content-center p-2">
            <button class="border-0 bg-transparent start-0 position-absolute" (click)="handleChangePage(-1)"
                [disabled]="!prevButtonVisible">
                <i class="bi bi-caret-left-fill fs-1"></i>
            </button>

            <img class="img-fluid position-absolute top-0 w-90 mh-100" [src]="imageUrl" alt="Book Image" />

            <button class="border-0 bg-transparent end-0 position-absolute" (click)="handleChangePage(1)"
                [disabled]="!nextButtonVisible">
                <i class="bi bi-caret-right-fill fs-1"></i>
            </button>
        </div>

        <div>
            <form #searchForm="ngForm" (ngSubmit)="setPageNumber()">
                <div class="p-2 d-flex justify-content-center">
                    <input type="number" class="form-control m-0 cw-200" placeholder="Enter Page Number"
                        [(ngModel)]="pageNumber" name="pageNumber" [min]="1" [max]="pageCount" required
                        #pageNumberInput="ngModel" />
                    <button type="submit" class="btn btn-primary m-0" [disabled]="!searchForm.valid">Go</button>
                    <p class="pt-2">{{" of "+ pageCount}}</p>
                </div>
                <div *ngIf="pageNumberInput.invalid && (pageNumberInput.dirty || pageNumberInput.touched)">
                    <small *ngIf="pageNumberInput.errors?.['required']" class="text-danger">Page number is
                        required.</small>
                    <small *ngIf="pageNumberInput.errors?.['min']" class="text-danger">Page number must be at least
                        1.</small>
                    <small *ngIf="pageNumberInput.errors?.['max']" class="text-danger">Page number cannot exceed
                        {{pageCount}}.</small>
                </div>
            </form>

        </div>
    </div>
    }
    }

</div>