<div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="bg-transparent border-0 fs-1" aria-label="Close" (click)="activeModal.dismiss()">
        <i class="bi bi-x-lg text-white"></i>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div *ngIf="loginError">
            <hec-ng-alert [alert]="loginError"></hec-ng-alert>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="{{passwordFieldType}}" id="password" name="password" class="form-control"
                [(ngModel)]="password" required />
            <i class="bi" [ngClass]="passwordFieldType === 'password' ? 'bi-eye':'bi-eye-slash'"
                (click)="togglePasswordVisibility()"
                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
            </i>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button type="submit" class="btn btn-primary position-relative" [disabled]="!loginForm.valid">Login
                    <div *ngIf="loaderActive" class="loader position-absolute"></div>
                </button>

                <a href="https://accounts-qalv.mheducation.com/registration/create?app=createqa.mheducation.com&redirectUrl=https:%2F%2Fcreateqa.mheducation.com%2Fcreateonline"
                    target="_blank" class="">Sign Up</a>
            </div>
            <button type="button" class="btn btn-secondary" (click)="onForgotPassword()">Forgot Password?</button>
        </div>
    </form>
</div>