<div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="bg-transparent border-0 fs-1" aria-label="Close" (click)="activeModal.dismiss()">
        <i class="bi bi-x-lg text-white"></i>
    </button>
</div>
<div class="modal-body">
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control no-focus-outline"
                [(ngModel)]="username" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="form-control d-flex align-items-center p-0">
                <input type="{{passwordFieldType}}" id="password" name="password"
                    class="form-control border-0 no-focus-outline" [(ngModel)]="password" required />
                <button type="button" class="bg-transparent border-0" (click)="togglePasswordVisibility()"
                    aria-label="Toggle password visibility">
                    <i class="bi" [ngClass]="passwordFieldType === 'password' ? 'bi-eye' : 'bi-eye-slash'"></i>
                </button>
            </div>
        </div>
        @if(!loginError) {
        <div class="text-danger d-flex align-items-center">
            <div class="align-items-center">*{{loginError}}</div>
        </div>
        }
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button type="submit" class="btn btn-primary position-relative" [disabled]="!loginForm.valid">LogIn
                    @if(loaderActive){
                    <div class="loader position-absolute">
                    </div>
                    }

                </button>

                <a href="https://accounts-qalv.mheducation.com/registration/create?app=createqa.mheducation.com&redirectUrl=https:%2F%2Fcreateqa.mheducation.com%2Fcreateonline"
                    target="_blank" class="">Sign Up</a>
            </div>
            <button type="button" class="btn btn-secondary" (click)="onForgotPassword()">Forgot Password?</button>
        </div>
    </form>
</div>