<div class="container py-2">
    <!-- Header -->
    <h6 class="fw-bold mb-2">{{title}}</h6>
  
    <!-- Search Bar -->
    <div class="input-group">
      <!-- Dropdown -->
      <div class="input-group-prepend">
        <div ngbDropdown class="dropdown">
          <button
            class="btn btn-outline-secondary dropdown-toggle rounded-0"
            ngbDropdownToggle
            type="button"
          >
            {{ selectedCategory }}
          </button>
          <div ngbDropdownMenu>
            <button
              class="dropdown-item"
              *ngFor="let category of searchCategories"
              (click)="onSelectCategory(category)"
            >
              {{ category }}
            </button>
          </div>
        </div>
      </div>
  
      <!-- Input Field -->
      <input
        type="text"
        class="form-control rounded-0"
        placeholder="Find content by Keywords, Title, Author, ISBN or Description"
        [(ngModel)]="searchTerm"
      />
  
      <!-- Search Button -->
      <button
        class="btn btn-primary rounded-0 px-4"
        type="button"
        (click)="onSearch()">
        <i class="bi bi-search"></i> Search
      </button>
    </div>
  </div>
  