<div class="banner-container p-4 text-white">
    <h1 class="d-inline-block p-2 banner-header">Welcome to {{brandName}}</h1>
  
    <div class="container-list d-flex justify-content-between flex-nowrap mb-4">
      <!-- List Item 1 -->
      <div class="list-item p-3 flex-grow-1 me-3">
        <div class="item-heading d-flex align-items-end mb-3">
          <div class="step-number me-2 fw-bold display-6">01</div>
          <span class="fs-3 fw-light">Search Content</span>
        </div>
        <div class="item-description d-flex">
          <i class="fas fa-magnifying-glass fs-2 me-3"></i>
          <p class="m-0 fw-light">Search and select content from McGraw-Hill and 3rd party providers</p>
        </div>
      </div>
  
      <!-- List Item 2 -->
      <div class="list-item p-3 flex-grow-1 me-3">
        <div class="item-heading d-flex align-items-end mb-3">
          <div class="step-number me-2 fw-bold display-6">02</div>
          <span class="fs-3 fw-light">Arrange</span>
        </div>
        <div class="item-description d-flex">
          <i class="fas fa-layer-group fs-2 me-3"></i>
          <p class="m-0 fw-light">Customize your project's table of content</p>
        </div>
      </div>
  
      <!-- List Item 3 -->
      <div class="list-item p-3 flex-grow-1">
        <div class="item-heading d-flex align-items-end mb-3">
          <div class="step-number me-2 fw-bold display-6">03</div>
          <span class="fs-3 fw-light">Personalize</span>
        </div>
        <div class="item-description d-flex">
          <i class="fas fa-book-open-reader fs-2 me-3"></i>
          <p class="m-0 fw-light">Select a cover, format, and delivery method for your project</p>
        </div>
      </div>
    </div>
  
    <div class="button-list-container">
      <div class="button-list d-flex gap-2 flex-wrap">
        <button class="btn btn-light py-2 px-3 rounded">Start Project</button>
        <button class="btn btn-light py-2 px-3 rounded">Browse Collections</button>
        <button class="btn btn-light py-2 px-3 rounded">View Projects</button>
      </div>
    </div>
  </div>
  