.footer-links a {
  flex-shrink: 0;
}

.footer-region a {
  flex-shrink: 0;
}

.banner-container {
  background-color: #35516e;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links, .footer-region {
    justify-content: center;
  }
}