<div class="banner-container">
    <h1 tabindex="0">Welcome to {{brandName}}</h1>
    <div class="container-list">
        <div class="list-item" tabindex="0">
            <div class="item-heading">
                <div class="step-number">01</div>
                <span>Search Content</span>
            </div>
            <div class="item-description">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Search and select content from McGraw-Hill and 3rd party providers</p>
            </div>
        </div>
        <div class="list-item" tabindex="0">
            <div class="item-heading">
                <div class="step-number">02</div>

                <span>Arrange</span>
            </div>
            <div class="item-description">
                <i class="fa-solid fa-layer-group"></i>
                <p>Customize your project's table of content</p>
            </div>
        </div>
        <div class="list-item" tabindex="0">
            <div class="item-heading">
                <div class="step-number">03</div>
                <span>Personalize</span>
            </div>
            <div class="item-description">
                <i class="fa-solid fa-book-open-reader"></i>
                <p>Select a cover, format, and delivery method for your project</p>
            </div>
        </div>
    </div>
    <div class="button-list-container">
        <div class="button-list">
            <button> Start Project</button>
            <button>Browse Collections</button>
            <button> View Projects</button>
        </div>
    </div>
</div>