<div class="banner-container">
    <h1>Welcome to {{brandName}}</h1>
    <div class="container-list">
        <div class="list-item">
            <div class="item-heading">
                <div class="step-number">01</div>
                <h2>Search Content</h2>
            </div>
            <div class="item-description">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Search and select content from McGraw-Hill and 3rd party providers</p>
            </div>
        </div>
        <div class="list-item">
            <div class="item-heading">
                <div class="step-number">02</div>

                <h2>Arrange</h2>
            </div>
            <div class="item-description">
                <i class="fa-solid fa-layer-group"></i>
                <p>Customize your project's table of content</p>
            </div>
        </div>
        <div class="list-item">
            <div class="item-heading">
                <div class="step-number">03</div>

                <h2>Personalize</h2>
            </div>
            <div class="item-description">
                <i class="fa-solid fa-book-open-reader"></i>
                <p>Select a cover, format, and delivery method for your project</p>
            </div>
        </div>
    </div>
    <div class="button-list-container">
        <div class="button-list">
            <button> Start Project</button>
            <button>Browse Collections</button>
            <button> View Projects</button>
        </div>
    </div>
</div>