$active-color: #06235B;

// overwritten bs focus
a:focus, .list-group-item:focus {
    border-radius: 0 !important;
}

//for all the buttons when focussed
.btn:focus-visible,
button:focus:not(:focus-visible) {
    background-color: $active-color !important;
}

.btn:focus,
.form-control:focus {
  outline: 2px solid #007bff; 
  outline-offset: 2px;
}