// overwritten bs focus
a:focus,
.list-group-item:focus {
    border-radius: 0 !important;
}

.hec-cursor-pointer:hover,
.hec-cursor-pointer {
    cursor: pointer;
}

.no-focus-outline:focus {
    // outline: none;
    // box-shadow: none;
}