<div class="container-fluid mt-3">
  <div class="row d-flex">
    <app-negotiation-collection></app-negotiation-collection>

    <!-- 3 out of 12 column -->
    <div class="col-md-3">
      <div class="mb-2">
        <p class="fw-bold fs-6">
          Applied Filters
        </p>
      </div>
      <div class="mb-2 fs-6">
        <label>Type</label>
      </div>
      <div class="position-relative">
        <input type="text" class="form-control pe-5" aria-label="Filter" value="Article" disabled />
        <i class="bi bi-x text-secondary position-absolute top-50 end-0 translate-middle-y me-2 fs-4"
          aria-hidden="true"></i>
      </div>
      <div class="mt-2">
        <a href="#" class="text-decoration-none text-primary fw-bold fs-6" aria-label="Clear all applied filters"
          (click)="clearFilters($event)">Clear Filters</a>
      </div>

      <!-- Filter By  -->
      <div class="mt-2">
        <div class="mb-3">
          <p id="filter-by-heading" class="fw-bold fs-6">Filter By</p>
          <hr class="my-2" aria-hidden="true" />
        </div>

        <!-- filter accordion -->
        <div ngbAccordion [closeOthers]="false">
          <div *ngFor="let list of lists" ngbAccordionItem class="border-0">
            <h2 ngbAccordionHeader id="accordionTitle" aria-level="2">
              <button class="fw-bold" ngbAccordionButton aria-controls="accordionBody" aria-expanded="false">{{
                list.title }}</button>
            </h2>
            <div ngbAccordionCollapse id="accordionBody" aria-labelledby="accordionTitle">
              <div ngbAccordionBody>
                <ng-template>
                  <div *ngFor="let item of list.items" class="form-check">
                    <div class="d-flex justify-content-between align-items-center fs-6">
                      <div>
                        <input type="checkbox" class="form-check-input me-2" [checked]="item.checked"
                          id="{{ item.label }}" />
                        <label class="form-check-label" for="{{ item.label }}">
                          {{ item.label }}
                        </label>
                      </div>
                      <span class="text-muted">{{ item.exist }}</span>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
            <hr class="my-2">
          </div>
        </div>

      </div>
    </div>

    <!-- 7 out of 12 columns -->
    <div class="col-md-7">
      <div class="d-flex flex-column">
        <p class="fw-bold fs-6">Search</p>
        <app-findcontent-search></app-findcontent-search>
      </div>
      <div class="d-flex justify-content-between mb-3">
        <p class="fs-6">Showing <span class="fw-bold">1-6</span> of <span class="fw-bold">100</span> Results</p>
        <select class="form-select w-auto" aria-label="Sort Results">
          <option value="">Please Select</option>
          <option value="relevance">Relevance</option>
          <option value="newest">Newest</option>
        </select>
      </div>

      <div>
        <app-alert-component [alert]="alert" />
        <div>
          <app-search-results *ngFor="let item of resultItems" [result]="item"></app-search-results>
        </div>
      </div>
      <div class="mt-auto d-flex justify-content-end">
        <app-pagination />
      </div>
    </div>