<div class="p-0 fs-5">
  <h1 class="m-2">My Uploads</h1>
  @if(initLoader){
  <div class="hec-loader-content"></div>
  } @else{ @if(isFormShown){
  <div class="form-container d-flex border m-3 p-4 col-11">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <!-- File Upload -->
      <div class="fw-bold">
        1. <span class="text-danger">*</span>Find the file on your computer.
      </div>
      <input
        type="text"
        class="col-6 m-2"
        disabled
        placeholder="{{ uploadForm.value.file.name }}"
      />
      <input
        type="file"
        id="fileInput"
        class="hidden"
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <label
        for="fileInput"
        class="border border-blue-800 text-blue-800 px-4 py-1 rounded-md cursor-pointer hover:bg-blue-100"
      >
        <strong class="text-primary">Browse</strong>
      </label>
      <div *ngIf="hasError('file', 'required')" class="error text-danger">
        File is required.
      </div>
      <br class="m-2" />
      <div class="fw-bold">
        2. <span class="text-danger">*</span>Provide information about your
        file.
      </div>
      <!-- Author Name -->
      <label><span class="text-danger">*</span>Author's Name</label>
      <div class="name-fields d-flex">
        <div class="" style="margin-right: 10px">
          <input
            type="text"
            placeholder="First Name"
            formControlName="firstName"
          />
          <div
            *ngIf="hasError('firstName', 'required')"
            class="error text-danger"
          >
            First Name is required.
          </div>
          <div *ngIf="hasError('firstName', 'minlength')" class="error">
            First Name must be at least 2 characters.
          </div>
        </div>

        <div>
          <input
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
          />
          <div
            *ngIf="hasError('lastName', 'required')"
            class="error text-danger"
          >
            Last Name is required.
          </div>
          <div *ngIf="hasError('lastName', 'minlength')" class="error">
            Last Name must be at least 2 characters.
          </div>
        </div>
      </div>
      <br />

      <!-- Display Title -->
      <label
        ><span class="text-danger">*</span>Display Title (as it appears in the
        table of Contents)</label
      ><br />
      <input type="text" formControlName="displayTitle" class="col-8" />
      <div
        *ngIf="hasError('displayTitle', 'required')"
        class="error text-danger"
      >
        Display Title is required.
      </div>
      <br />

      <!-- Terms and Conditions -->
      <div class="fw-bold">3.Review the Terms and Conditions.</div>

      <label>
        <input type="checkbox" formControlName="terms" class="" />
        <span class="text-danger">*</span> By checking this box, I verify that I
        have the rights to the content I am uploading, and I agree to comply
        with
        <strong class="text-primary">McGraw-Hill Education policies</strong>.
      </label>
      <div *ngIf="hasError('terms', 'requiredTrue')" class="error text-danger">
        You must agree to the terms.
      </div>
      <br /><br />
      <div><span class="text-danger">*</span>Required fields</div>
      <!-- Buttons -->
      <button
        type="submit"
        [disabled]="uploadForm.invalid"
        class="btn btn-primary"
      >
        @if(uploading){
        <div class="hec-loader-btn"></div>
        } Upload
      </button>
      <button type="reset" (click)="uploadForm.reset()" class="btn btn-primary">
        Cancel
      </button>
    </form>

    <!-- Supported File Types -->
    <div class="file-types col-6 p-2">
      <h4 class="text-center fw-bold">Supported File Types</h4>
      <ul>
        <li
          *ngFor="let type of supportedFileTypes"
          class="d-flex justify-content-between"
        >
          <div class="" style="width: 250px">{{ type.name }}</div>
          <div class="text-start" style="width: 150px">
            {{ type.extension }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  } @if(!isFormShown){
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-secondary" (click)="uploadNew()">
      <i class="bi bi-cloud-upload"></i> Upload Content
    </button>
  </div>
  } @if(isUploadList){
  <table class="table bg-transparent">
    <thead class="bg-primary">
      <tr class="border-0">
        <th scope="col">Type</th>
        <th scope="col">Title/Details</th>
        <th scope="col">Options</th>
      </tr>
    </thead>

    <!-- <div class="d-flex align-items-center justify-content-center loader-parent">
      <div class="hec-loader-content"></div>
    </div> -->

    <tbody class="p-2">
      @for (item of uploadedList; track i; let i = $index) {
      <tr tabindex="0" class="border-bottom">
        <td scope=" row">
          <img
            src="https://createqa.mheducation.com/createonline/images/upload/Uploaded-file-icon.png"
            alt="item-img"
            style="width: 80px; height: 100px"
          />
        </td>
        <td>
          <div class="fw-bold">{{ item.title }}</div>
          <div>{{ item.year + " | " + item.authors }}</div>
          <div>Available Formats:- --------</div>
          @if(!item.isMoreButton){
          <div [innerHtml]="item.description"></div>
          }
        </td>
        <td>
          <button class="btn btn-primary w-auto">Add to Projects</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } }
</div>
