<div class="container-fluid">
  <div class="row">
    <!-- First Dropdown -->
    <div class="col-12 border-0 border-bottom border-gray pb-2">
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-2 btn-sm"
      >
        <hec-customdropdown
          [buttonTitle]="firstDropDownTitle"
          [dropdownItem]="firstDropdownItems"
          [titleHeading]="firstDropdownHeading"
        >
        </hec-customdropdown>

        <!-- Second Dropdown-->
        <div class="d-flex gap-3 mt-2 mt-md-0 flex-wrap justify-content-center">
          <hec-customdropdown
            [buttonTitle]="secondDropDownTitle"
            [dropdownItem]="secondDropdownItems"
            [titleHeading]="secondDropdownHeading"
          >
          </hec-customdropdown>

          <!-- arrange button -->
          <div class="d-flex flex-column align-item-start">
            <span class="fw-bold mb-1">{{ thirdDropdownHeading }}</span>
            <button
              type="button"
              class="btn bg-transparent fw-bold custom-dark-blue"
            >
              Arrange
              <i class="bi bi-chevron-right ms-5"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Breadcrumb Section -->
    <div class="col-12 my-2 ms-3">
      <hec-breadcrumb></hec-breadcrumb>
    </div>

    <!-- accordion component -->
    <div class="col-4 mt-5">
      <hec-filter-accordion></hec-filter-accordion>
    </div>

    <!-- pagination component and card component -->
    <div class="col-8 d-flex flex-column" >
      <!-- card needs to added below div -->
      <div></div>
      <div class="mt-auto d-flex justify-content-end">
        <hec-pagination></hec-pagination>
      </div>
    </div>
  </div>
</div>
