<div class="footer border-top py-3">
    <div class="row flex-row justify-content-between text-nowrap">

        <div class="col-12 col-md-6 mb-3 py-0">
            <div class="d-flex flex-column flex-md-row">
                <a href="https://mhedu.force.com/createhelp/s/article/How-do-I-contact-Customer-Service"
                    class="text-primary me-md-4 mb-2 mb-md-0">{{"CustomerSupport" | translate}}</a>
                <a href="http://mheducation.com/terms-use" class="text-primary me-md-4 mb-2 mb-md-0">{{"TermsOfUse" |
                    translate}}</a>
                <a href="https://www.mheducation.com/privacy.html"
                    class="text-primary me-md-4 mb-2 mb-md-0">{{"PrivacyNotice" | translate}}</a>
                <a href="https://mh.my.site.com/createhelp/s/" class="text-primary mb-2 mb-md-0">{{"Help" |
                    translate}}</a>
            </div>
            <p class="m-0 text-muted">{{"Copyright" | translate}}</p>
        </div>

        <div
            class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-start justify-content-md-end align-items-start">
            <a href="#" class="text-primary mb-2 mb-md-0">{{selectedLanguage}}</a>
            <a class="text-primary ms-0 ms-md-3 mb-2 mb-md-0" (click)="open(content)">{{"Language" | translate}}</a>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select your language</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col" *ngFor="let column of getLanguageColumns()">
                <div class="d-flex flex-column">
                    <a *ngFor="let language of column" href="javascript:void(0)"
                        class="text-primary text-decoration-none mb-2"
                        (click)="selectLanguage(language); modal.close('language selected')">
                        {{ language }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>