.breadcrumb {
    .breadcrumb-item {
      .breadcrumb-link {
        cursor: pointer;
        text-decoration: none;
        color: rgb(51, 76, 216);
        &:hover {
          text-decoration: underline;
          color: #008080;
        }
      }
    }
  }
  