.breadcrumb {
  .breadcrumb-item {
    .breadcrumb-link {
      cursor: pointer;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
        color: #008080;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 0.1rem;
    color: #6c757d;
  }
}
