.breadcrumb {
  .breadcrumb-item {
    .breadcrumb-link {
      cursor: pointer;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
        color: #008080;
      }
    }
  }
}
