<div>
  <!-- Toggle button visible only for zoom >= 175% -->
  <button *ngIf="isZoomedIn" class="sidebar-toggle-btn" (click)="toggleSidebar()">☰</button>
</div>

<!-- Sidebar container -->
<nav [class.visible]="isSidebarVisible" class="sidebar overlay">
  <ul class="list-unstyled">
    <li *ngFor="let item of menuItems" class="position-relative sidenav-li" [class.active]="activeItem === item.id"
      (click)="setActive(item.id)" (keydown)="handleKeydown($event, item.id)">
      <a [routerLink]="[item.route]" routerLinkActive="router-link-active"
        class="nav-link p-3 d-flex flex-column align-items-center text-center text-decoration-none">
        <i [class]="item.icon" class="mb-2 fs-5"></i>
        <span class="fw-medium nav-title">{{ item.title | translate}}</span>
      </a>
    </li>
  </ul>
</nav>


<!-- <div class="sidebar border-end h-100">
    <nav class="">
      <ul class="list-unstyled">
        <li
          *ngFor="let item of menuItems"
          class="position-relative sidenav-li"
          [class.active]="activeItem === item.id"
          (click)="setActive(item.id)"
          (keydown)="handleKeydown($event, item.id)">
          <a
            href="" [routerLink]="item.routerLink" routerLinkActive="router-link-active" 
            class="nav-link p-3 d-flex flex-column align-items-center text-center text-decoration-none">
            <i [class]="item.icon" class="mb-2 fs-5"></i>
            <span class="fw-medium nav-title">{{ item.title }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
   -->