<div class="sidebar border-end h-100">
    <nav class="">
      <ul class="list-unstyled">
        <li
          *ngFor="let item of menuItems"
          class="position-relative sidenav-li"
          [class.active]="activeItem === item.id"
          (click)="setActive(item.id)"
          (keydown)="handleKeydown($event, item.id)">
          <a [routerLink]="['/findcontent']" routerLinkActive="router-link-active" 
            class="nav-link p-3 d-flex flex-column align-items-center text-center text-decoration-none">
            <i [class]="item.icon" class="mb-2 fs-5"></i>
            <span class="fw-medium nav-title">{{ item.title | translate }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  
