<div class="sidebar border-end h-100 bg-light">
  <nav class="py-3">
    <ul class="list-unstyled m-0 p-0">
      <li
        *ngFor="let item of menuItems"
        class="position-relative"
        [class.active]="activeItem === item.id"
        (click)="setActive(item.id)"
        (keydown)="handleKeydown($event, item.id)">
        <a
          href="/accordion"
          class="nav-link p-2 d-flex flex-column align-items-center text-center text-decoration-none">
          <i [class]="item.icon" class="mb-2 fs-4"></i>
          <span class="fw-medium">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>


<!-- <div class="sidebar border-end h-100 bg-light">
  <nav class="py-3">
    <ul class="list-unstyled m-0 p-0">
      <li
        *ngFor="let item of menuItems"
        class="position-relative"
        [class.active]="activeItem === item.id"
        (click)="setActive(item.id)"
        (keydown)="handleKeydown($event, item.id)">
        <a
          href="/accordion"
          class="nav-link p-3 d-flex flex-column align-items-center text-center text-decoration-none">
          <i [class]="item.icon" class="mb-2 fs-4"></i>
          <span class="fw-medium">{{ item.title }}</span>
          <span *ngIf="item.subtitle" class="small">{{ item.subtitle }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div> -->
