/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '@mhe/he-bs-themes/src/5/he-bs5/index';
@import "bootstrap-icons/font/bootstrap-icons";
@import 'variables.scss';

// custom scss imports
@import "./styles/main-app-nav";

:focus:not(body):not(div) {
    outline: 2px solid $teal-blue !important;
    outline-offset: 3px !important;
    border-radius: 0 !important;
    -webkit-outline: 2px solid $teal-blue !important;
    -webkit-outline-offset: 0px !important;
    -webkit-border-radius: 0 !important;
    -ms-outline: 2px solid $teal-blue !important;
    -ms-outline-offset: 0px !important;
    -ms-border-radius: 0 !important;
    -moz-outline: 2px solid $teal-blue !important;
    -moz-outline-offset: 0px !important;
    -moz-border-radius: 0 !important;
}

// 767px
@media (max-width: $screen-xs-max) {
    .hidden-xs {
        display: none !important;
    }
}

// 768px and 1023px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .hidden-sm {
        display: none !important;
    }
}

// 1024px and 1279px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .hidden-md {
        display: none !important;
    }
}

// 1280px
@media (min-width: $screen-lg-min) {
    .hidden-lg {
        display: none !important;
    }
}

::-webkit-scrollbar {
    width: 0.7em;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    &:hover {
        background: #808080;
    }
}


body {
    overflow-x: hidden;
    direction: ltr;
    text-align: left;
}

html[dir='rtl'] {
    body {
        direction: rtl;
        text-align: right;
    }
}

.btn:focus-visible,
button:focus:not(:focus-visible) {
    background-color: #ffffff !important;
}