*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 100%;
  padding: 0;
}

.hidden-sm {
  overflow-x: hidden;
}

.nav-link,
.header,
.footer,
.search-container {
  max-width: 100%;
}




/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'variables.scss';

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    box-sizing: border-box;
}

* {
    font-size: 14px;
    box-sizing: inherit;
}


:focus:not(body):not(div) {
    outline: 2px solid $teal-blue !important;
    outline-offset: 3px !important;
    border-radius: 0 !important;
    -webkit-outline: 2px solid $teal-blue !important;
    -webkit-outline-offset: 0px !important;
    -webkit-border-radius: 0 !important;
    -ms-outline: 2px solid $teal-blue !important;
    -ms-outline-offset: 0px !important;
    -ms-border-radius: 0 !important;
    -moz-outline: 2px solid $teal-blue !important;
    -moz-outline-offset: 0px !important;
    -moz-border-radius: 0 !important;
}

// 767px
@media (max-width: $screen-xs-max) {
    .hidden-xs {
        display: none !important;
    }
}

// 768px
@media (min-width: $screen-sm-min) and (max-width: 1023px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1280px) {
    .hidden-lg {
        display: none !important;
    }
}



body {
    font-size: calc(16px + 0.5vw);
    direction: ltr;
    text-align: left;
}

html[dir='rtl'] {
    body {
        direction: rtl;
        text-align: right;
    }
}

.btn:focus-visible,
button:focus:not(:focus-visible) {
    background-color: #ffffff !important;
}